body{
background-color:#fff;
font-family:Lucida Sans Unicode, Arial;
font-size:14px;
margin-left:2em;
margin-right:2em;
color:#555;
}

p {
padding:2px 2px 2px 2px;
}
a{
color:#999;
text-decoration:none;
}

a:hover{
text-decoration:underline;
}

h2{
font-size:1.4em;
color:#888;
}

h4{
font-size:1.1em;
}

.screenshot {
    /* to center the DIV */
    margin-right: auto;
    margin-left: auto;
    width: 510px;
}

.screenshot img {
    border: #808080 solid 1px;
    padding: 2px;
}

.screenshot p {
    margin: 0;
}

.twin-screenshot {
    /* to center the DIV */
    margin-right: auto;
    margin-left: auto;
    width: 707px;
}

.twin-screenshot img {
    border: #808080 solid 1px;
    padding: 2px;
}

.twin-screenshot p {
    margin: 0;
}

.copyright {
    font-size: 85%;
}

var {
    font-family: "Courier New", Courier, monospace;
    font-size: 110%;
    font-style: normal;
    color: #000;
}

pre {
    font-family: "Courier New", Courier, monospace;
    font-size: 110%;
    background-color: #f3f3ff;
    color: #000;
}



.note {
    border: solid black 1px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3em;
    margin-bottom: 3em;
    width: 60%;
}
.note .label {
    background: #444;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}
.note .content {
    padding: 5px 10px;
    background: #f3f3ff;
    color: black;
    line-height: 120%;
    font-size: 90%;
}

.toc_h3 {
    margin-left:4em;
}

.toc_h4 {
    margin-left:8em;
}

.minitoc-area {
  font-size: 90%;
}

.minitoc-area a {
    color:#555;
}

.widget-code {
    margin: auto;
}